<div class="container" style="min-height:400px">
    <br>
    <h4 class="AlignTop text-center Museo-500 pageHeadTitle">BANK ACCOUNT</h4>
    <br>
    <br>
    <div class="well white">
        <div><span class="bold">1)</span> Please bank in after placing the order to:</div>
        <br>
        <div>Payee Bank: <img src="http://www.21cart.com/PBBlogo.png" height="30"></div>
        <div>Payee Name: 21CART SDN BHD</div>
        <div>Company Registration Number: 1148211-H</div>
        <div> A/C No: 3195641912</div>
        <br>
        <div><span class="bold">2)</span> Email the <span class="bold">&nbsp;a)</span> bank in slip and <span class="bold">&nbsp;b)</span> order number to hello@21cart.com</div>
    </div>
</div>