<div class="animated fadeIn">
    <img src="{{url}}main1.png" class="" alt="" style="width:100%;border-bottom: 15px solid white">
    <img src="{{url}}main3.png" class="" alt="" style="width:100%">
</div>
<div class="">
    <!-- <div style="background-image: url('frontend/images/main.png');background-repeat: no-repeat;width='100%';height:600px"></div> -->
    <!-- <div class="row text-center">
<div style="height:160px;background-color:#e7e7e7;color:#465762" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPad"><h3 class="">SuperDeals</h3></div>  
<div style="height:160px;background-color:#A2ABB0;color:#fff" class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><h3>Baby Products</h3></div> 
<div style="height:160px;background-color:#A2ABB0;color:#fff" class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><h3>Beauty Products</h3></div> 
<div style="height:160px;background-color:#e7e7e7;color:color:#465762" class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><h3>Coupons</h3></div> 
<div style="height:160px;background-color:#e7e7e7;color:color:#465762" class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><h3>Household</h3></div> 
<div style="height:160px;background-color:#A2ABB0;color:#fff" class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><h3>Gadget Shop</h3></div> 
</div>
</div> -->
    <!-- <div ng-controller="CarouselDemoCtrl">
  <div style="height: 430px;background-color:#e7e7e7" class="noMargin">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
  </div> -->
    <!-- <img src="images/paper.jpg"> -->
    <!-- <div class="row"><img src="images/sakura.jpg" width='100%' height="500px" alt=""></div>   -->
    <!--   <br><br><br>

    <div class="row animated rotateInDownRight">
    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
    <img src="frontend/images/21logo12.png" class="img-responsive center-block col-lg-6 col-md-6 col-sm-8 col-xs-10" style="opacity:1">
    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
    </div>
    <h1 class="animated rotateInDownLeft text-center Museo-500 whiteText" >Shopping Rediscovered</h1> -->
</div>