<div class="container-fluid text-center animated fadeIn">
    <br>
    <div class="text-center Museo-500" style="font-size:25px">Payment Declined</div>
    <div class="text-center" style="">Step 4 of 4</div>
    <br>
    <img class="img-responsive center-block" src="http://www.21cart.com/21logoSmall.png" alt="">
    <br>
    <br>
    <div class="red bold">Your payment has been declined</div>
    <br>
    <div>Your payment was not successfully authorised and your order is <span class="bold red">NOT </span>complete</div>
    <br>
    <div>Kindly contact us at hello@21cart.com to verify status</div>
    <br>
    <p>Alternatively, please call 21cart customer care at 018-2879201</p>
    <br>
    <div class="row">
    <div class="btn btn-success" ng-click="home()">Return to shopping</div>
    <!-- <div class="btn btn-success" ng-click="orderHistory()">View Order Details</div> -->
    </div>
    <br>
    <br>
    <br>
</div>
