<div class="container-fluid text-center animated fadeIn">
    <br>
    <div class="text-center Museo-500" style="font-size:25px">Order Completed</div>
    <div class="text-center" style="">Step 4 of 4</div>
    <br>
    <img class="img-responsive center-block" src="http://www.21cart.com/21logoSmall.png" alt="">
    <br>
    <br>
    <div>Thank you for your custom, it's very much appreciated.</div>
    <br>
    <div>Your order receipt will be emailed to you.</div>
    <br>
    <br>
    <!-- <span><div class="btn btn-success" style="margin-left:10px;margin-right:10px" ng-click="home()">Return to shopping</div><div class="btn btn-success" style="margin-left:10px;margin-right:10px" ng-click="orderHistory()">View Order Details</div></span> -->
    <div class="row">
    <div class="btn btn-success" ng-click="home()">Return to shopping</div>
    <div class="btn btn-success" ng-click="orderHistory()">View Order Details</div>
    </div>
    <br>
    <br>
    <br>
</div>