<div class= "container text-justify" style="min-height:400px">
<br>

<h4 class="AlignTop text-center Museo-500 pageHeadTitle">Privacy Policy</h4>
<br>
<br>
<div class="well white">
<p>

Privacy Policy Scope

</p>

<br>

<p>

In compliance with the Personal Data Protection Act 2010 and its regulations, 

this notice is issued to all our valued customers and/ or prospective customers. 

This Notice will inform you of your rights with regards to your personal data that 

has been and/ or will be, collected and processed by us.

</p>

<p>

1. Our Privacy Pledge

21 Cart Sdn. Bhd. and our agents (“the Company”, “we”,” us”) are committed 

to protecting the privacy of the individuals we encounter in conducting our 

business, including you (“Relevant Persons”). We have in the course of our 

dealings with Relevant Persons, collected personal data and/or may in future, 

collect such personal data. “Personal Data” refers to information relating 

directly to or indirectly to the Relevant Persons from which they can be 

identified or are identifiable. We value your trust and have a long standing 

commitment towards protecting your Personal Data. This Privacy Policy 

describes how we use, disclose and protect your Personal Data. 

</p>

<p>

2. What Information Do We Collect About You?

The information we collect may include personal details such as name, age, 

identification number (IC), passport number (applicable to persons who are 

not Malaysian citizens), address, phone number, email address, date of birth, 

marital status, race, religion, occupation, personal lifestyle habits.

</p>

<p>

3. How Do We Use This Information About You?

We do not disclose, use or share your Personal Data except for the following 

purposes mentioned herein – 

</p>


<p>
(a) to communicate with you and verify your identity (including any age 

restrictions in the products, services and promotional information  / 

material offered by the Company); 

</p>


<p>
(b) to assess your eligibility for receipt of our products, services and 

promotional information / material (including any exclusive event 

invitations, promotional campaigns and contests); </p>

<p>
(c) to engage in transactions for provision of products, services and 

promotional information / material to you; </p>

<p>

(d) to conduct marketing activities (market research, statistics records, data 

survey and brand awareness); </p>

<p>

(e) to process any communication you send us; </p>

<p>

(f) to notify you of any changes to our terms and conditions or the products, 

services and promotional information / material offered to you; and </p>

<p>

(g) to maintain records as part of our business systems, including without 

limitation, for purposes relating to our business with our clients, to 

comply with any legal or regulatory requirements, for security, legal 

claims or other purposes in so far as is permitted by law, regulations and 

guidelines of regulatory authorities. </p>


<p>

4. Disclosure of Personal Data

All Relevant Persons personal data held by the Company will be kept 

confidential. However, the Company may provide or disclose such Personal 

Data to the following parties (whether within or outside Malaysia) for the 

purposes set out above (who may also process, transfer or disclose such 

Personal Data for the purpose(s) described above):- </p>

<p>
(a) our subsidiaries, associate or related companies, including their 

respective employees, professional advisors or agents; </p>
<p>

(b) our clients, clients’ subsidiaries, associated or related companies, 

including their respective employees, professional advisors or agents; </p>

<p>

(c) our third party service providers, including our independent contractors 

and consultants; </p>

<p>

(d) to comply with all applicable laws, regulations, guidelines and/or other 

legal requirements; </p>

<p>
(e) to litigate, defend or respond accordingly to an actual or threatened 

lawsuit; and  </p>

<p>

(f) to generally protect the rights and property of the Company and our 

clients. </p>



<p>

5. Right to Access and Correction of Personal Data

To enable us to provide Relevant Persons with the best service, we want to 

ensure that the personal information we have is accurate and up to date. All 

relevant persons have the right to access, update or correct any personal 

information held by the Company by writing to us at: -  </p>


<p>
21 CART SDN. BHD. (1148211-H)</p>

<p>B-5-8 Plaza Mont Kiara,</p>

<p>Mont Kiara, 50480,</p>

<p>Kuala Lumpur, Malaysia</p>

<p>Email: hello@21cart.com</p>

<p>Attention To: Data Protection Officer

</p>


<p>
The Relevant Persons continued usage of our products and/or services and 

receipt of our promotional information and material is deemed consent for the 

Company to process Personal Data for all the purposes described above. 

Relevant Persons may however, choose not to give or to limit / withdraw your 

consent for the Company to process and retain Personal Data by writing in to us 

at the abovementioned address. This may result in the Company being unable to 

offer to the Relevant Persons any products and services in the ordinary course of 

our business or to provide any promotional information and materials that may 

be of interest to the Relevant Persons based on their indicated preferences. 

If you have any queries or complaints relating to this Privacy Policy or otherwise 

relating to the misuse or suspected misuse of your Personal Data, you may 

contact us at the above mentioned address and email address. We keep our 

Privacy Policy under regular review, you may request a copy of our latest Privacy 

Policy (in English or Bahasa Malaysia) by emailing us or logging on to our 

website, www.21cart.com.</p>


</div>

<br>
</div>