<div class="container" style="min-height:400px">
    <br>
    <h4 class="AlignTop text-center Museo-500 pageHeadTitle">RETURN POLICY</h4>
    <br>
    <br>
    <div class="well white">
    <p>We want you to be completely satisfied with your purchase on 21Cart.com. In the unfortunate event of faulty goods, please contact 21Cart support at hello@21cart.com with subject: Faulty Goods and we will revert to you as soon as possible.</p>
    <br>
    <p>Alternatively, please call 21cart customer care at 018-2879201</p>
    </div>
</div>
