<br>
<br>
<div class="row animated fadeIn">
    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-1"></div>
    <form ng-submit="postSearch()" name="register" class="form-signin col-lg-4 col-md-4 col-sm-6 col-xs-10 panel panel-default" novalidate>
        <br>
        <h4 class="form-signin-heading text-center Museo-500">SEARCH</h4>
        <br>
        <input ng-model="searchTerm.search" name="search" type="text" placeholder="Search Term" class="form-control noRadius">
        <br>
        <br>
        <button class="btn btn-block btn-customRed " type="submit">
            Search
        </button>
        <br>
        <br>
        <br>
        <br>
        <br>
    </form>
    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-1"></div>
</div>


<!-- <div class="row grayBackground nav-line">
    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
    <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
        <form class="grayBackground" style="margin:0px;padding:0px 0px 15px 0px">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Term">
            </div>
            <button type="submit" class="btn custom-button" ng-click="toggleSearch()">Submit</button>
        </form>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
</div> -->


