<div class="container animated fadeIn">
    <br>
    <div class="text-center Museo-500" style="font-size:25px">SHOPPING CART</div>
    <div class="text-center" style="" ng-hide="cartCount()==0">Step 1 of 4</div>
    <br>
    <div class="text-center" ng-show="cartCount()==0">Your shopping cart is empty</div>
    <div class="row">
        <div class="col-sm-4 col-sm-push-8">
            <div class="list-group" ng-hide="cartCount()==0">
                <div class="list-group-item text-center">
                    <div class="bold spacing10">YOUR ORDER</div>
                    <div class="div-underline spacing5"></div>
                    <div class="row spacing5">
                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></span>
                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">(RM)</span>
                    </div>
                    <div class="row spacing5">
                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">Original Price:</span>
                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right"> {{cartTotalRetail()| number : 2}}</span>
                    </div>
                    <div class="row spacing20 bold600">
                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left red">You Save: </span>
                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right red"> -{{cartSavings()| number:2}}</span>
                    </div>
                    <div class="row spacing5">
                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">Sub Total:</span>
                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right"> {{cartTotalSelling()| number : 2}}</span>
                    </div>
                    <div class="row spacing10">
                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">GST@6%</span>
                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right"> -</span>
                    </div>
                    <div class="div-underline spacing10"></div>
                    <div class="row spacing5">
                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left bold">TOTAL:</span>
                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right bold">{{cartTotalSelling()| currency : 'RM ' : 2}}</span>
                    </div>
                    <br>
                    <div class="btn btn-success" ng-click="getUserInfo()">Calculate Shipping</div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-sm-pull-4">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in cart()">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                            <img class="img-thumbnail img-responsive img-circle noPad" ng-src='{{url}}{{item.image}}' width="90">
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 text-left">
                            <div class="spacing5">
                                <span class="bold red">{{item.name}}</span><span style="border-radius:50%;padding:0px 0px 0px 1px;line-height:1em" class="btn btn-customBlack pull-right" ng-click="remove($index)"><i class="glyphicon glyphicon-remove"></i></span>
                            </div>
                            <div class="text-muted spacing5"><span>Product Code: {{item.code}}</span> <span ng-hide="!item.option" class="red"> Option: {{item.option}}</span></div>
                            <div class="validation-red" ng-show="itemQty.$dirty"> *Invalid Data: Please enter up to 30 alphanumeric characters only</div>
                            <div>
                                <span><label style="font-weight:400">Price: {{item.sellingprice | currency : 'RM ' : 2}} X</label>
                                <input name="itemQty" id="itemQty" ng-change="cartCount()" type="number" class="text-center" ng-model="item.qty" ng-model-options="{ updateOn: 'blur' }" min="1" max ="10"
                                ng-disabled="cartCount()>=10" > Unit(s)</span></div>
                        </div>
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container">
    <h4 class="text-center Museo-500">Shopping Cart</h4>
    <div class="list-group" ng-hide="cartCount()==0">
        <div class="list-group-item text-center">
            <div style="display:inline">Total:</div>
            <h3 class="red" style="display:inline">{{cartTotal()| currency : 'RM ' : 2}}</h3>
            <br>
            <br>
            <div class="redBackground btn btn-danger" ui-sref="shoppingCart.checkOut">CheckOut</div>
        </div>
    </div>
    <div class="text-center Museo-500" ng-show="cartCount()==0">Your Shopping Cart is Empty</div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="item in cart()">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                    <img class="img-thumbnail img-responsive img-circle noPad" ng-src='{{url}}{{item.image}}' width="90">
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6 text-left">
                    <h5 class="bold red">{{item.name}}</h5>
                    <div class="">
                        <label>Price: {{item.price | currency : 'RM ' : 2}} X</label>                     <div class="validation-red" ng-show="itemQty.$dirty"> *Invalid Data: Please enter up to 30 alphanumeric characters only</div>
                        <input name="itemQty" ng-change="cartCount()" type="number" class="" ng-model="item.qty" ng-model-options="{ updateOn: 'blur' }" ng-pattern="/^[1-9]{1,1}$/"> Unit(s)
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2" style="margin-top:30px">
                    <div class="btn btn-danger" ng-click="remove($index)"><i class="glyphicon glyphicon-remove"></i></div>
                </div>
        </li>
    </ul>
    </div> -->